<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604082092035-p677ckkd9raf9augjkp310g3g6f651t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604082092035-p677ckkd9raf9augjkp310g3g6f651t1</string>
	<key>API_KEY</key>
	<string>AIzaSyCtHwZAQy17496xObCUCgcexSZX52tZgVw</string>
	<key>GCM_SENDER_ID</key>
	<string>604082092035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativeadvtech.sunaah-customer</string>
	<key>PROJECT_ID</key>
	<string>sun3ah-c0d97</string>
	<key>STORAGE_BUCKET</key>
	<string>sun3ah-c0d97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604082092035:ios:ddfbe3cc8515f2a0ea3636</string>
</dict>
</plist>